.sticky {
  position: sticky;
  top: 0;
}

.close{
  position:absolute;
  bottom:50px;
  right:10px;
  margin:10px;
  padding:5px 3px;
}

.downloader{
  position:absolute;
  bottom:47px;
  right:50px;
  margin:10px;
  padding:5px 3px;
}